/* RESET */
body {
  background-color: #dfdfdf;
  padding: 0;
  margin: 0;
}
h1,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

/* COMMON RULES */
.container {
  background-color: #fff;
  box-shadow: 0.3em 0.3em 0.5em #8e8c8c;
  border-radius: 1em;
  margin: 1em 2em;
}
.pink,
a {
  color: #ec09ae;
}
.border {
  border-bottom: 1px dotted black;
  padding: 0.5em 0;
}
.underline {
  border-bottom: 1px dotted;
}
a

/* HEADER */
header {
  padding: 0.5em;
}
.header-content {
  background: url('./images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  border-radius: 0.2em;
}
.header-content > div {
  padding: 3em;
  width: fit-content;
}
h1 {
  font-family: 'Lora', serif;
  font-size: 3rem;
  font-weight: 400;
  color: #5a5a5a;
}
.small {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  color: #797878;
  text-align: center;
}

/* CONTENT */
main {
  display: flex;
  font-family: 'Roboto', sans-serif;
}
.col-7 {
  width: 70%;
}
.col-3 {
  width: 30%;
}
h3 {
  color: #4e4e4e;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0.5em 0.5em 0;
  margin-bottom: 0.6em;
  background: repeating-linear-gradient(-45deg, #eaeaea, #eaeaea 10px, #fff 10px, #fff 20px);
  border-radius: 0.5em;
}

/* LEFT COLUMN */
.col-3 > div {
  padding: 1em;
}
.name {
  font-weight: 700;
  color: #ec09ae;
}
.design span {
  font-weight: 700;
  color: #4e4e4e;
}

/* RIGHT COLUMN */
.col-7 p:not(.linear-bg) {
  padding-bottom: 1em;
  padding-left: 1em;
}
.p-left {
  padding: 1em 1em 0em 7em;
}
.p-right {
  padding: 1em 7em 0em 1em;
}
.linear-bg {
  background: repeating-linear-gradient(-45deg, #eaeaea, #eaeaea 10px, #fff 10px, #fff 20px);
  padding-left: 1em;
  padding-top: 0.5em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}
